doctype html
html
	include ../includes/head
	body
		.container
			include ../includes/header
			include ../includes/home/splash
			.row
				block content
			include ../includes/home/products
			include ../includes/footer
