.col-xs-12
	.well(id="carousel-example-generic", class="carousel slide", data-ride="carousel")
		.carousel-inner
			.item.active
				img.img-responsive(src="http://placehold.it/1200x400&text=splash 1")
			.item
				img.img-responsive(src="http://placehold.it/1200x400&text=splash 2")
			.item
				img.img-responsive(src="http://placehold.it/1200x400&text=splash 3")
		a.left.carousel-control(href="#carousel-example-generic", data-slide="prev")
			span.glyphicon.glyphicon-chevron-left
		a.right.carousel-control(href="#carousel-example-generic", data-slide="next")
			span.glyphicon.glyphicon-chevron-right
