if products
	.text-center
		each product, index in products
			.col-xs-12.col-sm-6.col-md-3
				include ../products/single_small.jade
if categories
	each category, index in categories
		.col-xs-12.col-sm-6.col-md-3
			include ../categories/single_small.jade
