if category
	.category.category--small.well
		p.category-name
			a(href="/categories/" + category.slug)
				= category.name
		p.category-image
			a(href="/products/" + category.slug)
				img.img-responsive(src="http://placehold.it/200&text=" + category.name)
