footer.row
	.col-xs-12.col-md-8
		.row
			.col-xs-12.col-sm-6.col-md-3
				h4 Categories
				ul.list-unstyled
					if site_parts && site_parts.top_categories
						each category in site_parts.top_categories
							li
								a(href='/categories/' + category.slug)
									= category.name
				h4 Featured Products
				ul.list-unstyled
					if site_parts && site_parts.top_products
						each product in site_parts.top_products
							li
								a(href='/products/' + product.slug)
									= product.name
			.col-xs-12.col-sm-6.col-md-3
				h4 On The Web
				ul.list-unstyled
					li
						a(href='javascript:;') leberkas
					li
						a(href='javascript:;') Venison hamburger
					li
						a(href='javascript:;') jerky pork
					li
						a(href='javascript:;') Flank beef
					li
						a(href='javascript:;') jerky strip
					li
						a(href='javascript:;') biltong turkey
					li
						a(href='javascript:;') kevin turducken
					li
						a(href='javascript:;') short loin
					li
						a(href='javascript:;') Boudin fatback
			.col-xs-12.col-sm-6.col-md-3
				h4 Info
				ul.list-unstyled
					li
						a(href='javascript:;') hamburger chicken
					li
						a(href='javascript:;') chop drumstick
					li
						a(href='javascript:;') pastrami spare
					li
						a(href='javascript:;') ribs filet mignon
			.col-xs-12.col-sm-6.col-md-3
				h4 Tools
				ul.list-unstyled
					li
						a(href='javascript:;') My Account
					li
						a(href='/cart') Shopping Cart
					if is_admin
						li
							a(href='/admin/off') Hide Admin
					else
						li
							a(href='/admin/on') Show Admin
	.col-xs-12.col-md-4.text-right
		.row
			.col-xs-12
				iframe.thumbnail.img-responsive(width='500', height='500', src='//www.youtube.com/embed/TlDnj8RODxY', allowfullscreen)
			.col-xs-12
				img.thumbnail.img-responsive(src='http://placehold.it/400x250&text=media')

	.col-xs-6.text-left
		a(target='_blank', href='https://github.com/amsross/io-mattross-store')
			img(alt='on GitHub', src='/img/github.png', width='32', height='32')
	.col-xs-6.text-right
		small
			| &copy; 
			a(href='http://mattross.io' target='_blank') mattross.io 
			| 2013
script(type='text/javascript', src='/js/scripts.min.js')
if 'development' === env
	script(type='text/javascript', src='//localhost:35729/livereload.js')
