footer.row
	.col-xs-12.col-md-8
		.row
			.col-xs-12.col-sm-6.col-md-3
				h4 Categories
				ul.nav.nav-pills.nav-stacked
					if site_parts && site_parts.top_categories
						each category in site_parts.top_categories
							li
								a.small(href='/categories/' + category.slug)
									= category.name
				h4 Products
				ul.nav.nav-pills.nav-stacked
					if site_parts && site_parts.top_products
						each product in site_parts.top_products
							li
								a.small(href='/products/' + product.slug)
									= product.name
			.col-xs-12.col-sm-6.col-md-3
				h4 On The Web
				ul.nav.nav-pills.nav-stacked
					li.disabled
						a.small(href='javascript:;') leberkas
					li.disabled
						a.small(href='javascript:;') Venison hamburger
					li.disabled
						a.small(href='javascript:;') jerky pork
					li.disabled
						a.small(href='javascript:;') Flank beef
					li.disabled
						a.small(href='javascript:;') jerky strip
					li.disabled
						a.small(href='javascript:;') biltong turkey
					li.disabled
						a.small(href='javascript:;') kevin turducken
					li.disabled
						a.small(href='javascript:;') short loin
					li.disabled
						a.small(href='javascript:;') Boudin fatback
			.col-xs-12.col-sm-6.col-md-3
				h4 Info
				ul.nav.nav-pills.nav-stacked
					li.disabled
						a.small(href='javascript:;') hamburger chicken
					li.disabled
						a.small(href='javascript:;') chop drumstick
					li.disabled
						a.small(href='javascript:;') pastrami spare
					li.disabled
						a.small(href='javascript:;') ribs filet mignon
			.col-xs-12.col-sm-6.col-md-3
				h4 Tools
				ul.nav.nav-pills.nav-stacked
					if is_admin
						li
							a.small(href='/admin/off') Logout
					else
						li
							a.small(href='/admin/on') Login
					li.disabled
						a.small(href='javascript:;') My Account
					if site_parts && site_parts.cart && site_parts.cart.total
						li
							a.small(href='/cart') Shopping Cart
	.col-xs-12.col-md-4.text-right
		.row
			.col-xs-12
				img.thumbnail.img-responsive(src='http://placehold.it/400x250&text=media')
			.col-xs-12
				img.thumbnail.img-responsive(src='http://placehold.it/400x250&text=media')

	.col-xs-6.text-left
		a(target='_blank', href='https://github.com/amsross/io-mattross-store')
			img(alt='on GitHub', src='/img/github.png', width='32', height='32')
	.col-xs-6.text-right
		small
			| &copy; 
			a(href='http://mattross.io' target='_blank') mattross.io 
			| 2013
script(type='text/javascript', src='/js/scripts.min.js')
if 'development' === env
	script(type='text/javascript', src='//localhost:35729/livereload.js')
