footer.row
	.col-xs-12.col-md-8
		.row
			.col-xs-12
				h4 tools
			.col-xs-12.col-md-4
				.well tools
				.well tools
				.well tools
			.col-xs-12.col-md-4
				.well tools
				.well tools
				.well tools
			.col-xs-12.col-md-4
				.well tools
				.well tools
				.well tools
	.col-xs-12.col-md-4.text-right
		.row
			.col-xs-12
				h4 media
			.col-xs-12
				.well media
			.col-xs-12
				.well media

	.col-md-6.text-left
		a(target="_blank", href="https://github.com/amsross/io-mattross-store")
			img(alt="on GitHub", src="/img/github.png", width="32", height="32")
	.col-md-6.text-right
		small
			| &copy; 
			a(href="http://mattross.io" target="_blank") mattross.io 
			| 2013
script(type='text/javascript', src='/js/scripts.min.js')
if 'development' === env
	script(type='text/javascript', src='//localhost:35729/livereload.js')
