header.row.margin-top
	.col-xs-12.col-md-6.text-left
		a(href='/')
			.well.well-sm brand
	.col-xs-12.col-md-6.text-right
		ul.nav.nav-pills
			if site_parts && site_parts.cart && site_parts.cart.total
				li.pull-right
					a(href='/cart').label.label-primary
						= '$' + site_parts.cart.total
	.col-xs-12
		.navbar.navbar-default.navbar-static-top(role='navigation')
			ul.nav.navbar-nav
				li
					a(href='/') Home
				if site_parts && site_parts.categories
					each category in site_parts.categories
						li
							a(href='/categories/' + category.slug)
								= category.name
	if flashes
		.col-xs-12
			include flashes
