header.row.margin-top
	.col-xs-12.col-md-6.text-left
		a(href='/')
			.well brand
	.col-xs-12.col-md-6.text-right
		.well
			a(href='/cart') cart
	.col-xs-12
		.well menu
	if flashes
		.col-xs-12
			include flashes
