@import "/private/bower_components/bootstrap/less/bootstrap.less";

body {
	padding-top: @grid-gutter-width / 2;
	padding-bottom: @grid-gutter-width / 2;
}

header {
	.brand {
		margin-bottom: @grid-gutter-width / 2;
	}
	.nav {
		li {
			*display: block;
			display: inline-block;
			float: none;
			zoom: 1;
		}
	}
}

.nav {
	&.nav-pills {
		> li {
			> a {
				&.small {
					padding: 5px 10px;
				}
			}
		}
	}
}


form.contenteditable {
	margin-bottom: @grid-gutter-width;
	[contenteditable] {
		border-radius: 4px;
		border: 1px solid rgba(255,200,100,0.5);
		margin-bottom: 4px;
	}
}

.carousel {
	margin-bottom: @grid-gutter-width;
}

.product {
	.product-name {}
	.product-image {}
	.product-price {}
	&.product--small {
		.product-name {
			text-align: center;
		}
		.product-image {
			.thumbnail {
				margin: 0 auto
			}
		}
		.product-price {
			text-align: right;
		}
	}
	&.product--large {
		.product--sortable {
			.form-control();
			cursor: default;
			height: auto;
			li{
				cursor: pointer;
				list-style: none;
			}
		}
	}
}

.category {
	.category-name {}
	.category-image {}
	&.category--small {
		.category-name {
			text-align: center;
		}
		.category-image {
			.thumbnail {
				margin: 0 auto
			}
		}
	}
	&.category--large {
		.category--sortable {
			.form-control();
			cursor: default;
			height: auto;
			li{
				cursor: pointer;
				list-style: none;
			}
		}
	}
}
