if product
	.product.product--small.well
		p.product-name
			a(href="/products/" + product.slug)
				= product.name
		p.product-image
			a(href="/products/" + product.slug)
				img.img-responsive(src="http://placehold.it/200&text=" + product.name)
		p.product-price
			= product.prettyPrice()
